<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Emprunt Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="bg-teal-600 px-4 py-4">
    <div class="flex justify-between items-center">
        <a href="#" class="text-white font-bold text-lg">My Library</a>
        <div class="flex">
            <a href="/livre" class="text-white mr-4 hover:text-teal-300">Gerer les livre</a>
            <a href="/adherant" class="text-white mr-4 hover:text-teal-300">Gerer les Adherent</a>
            <a href="/emprunt" class="text-white hover:text-teal-300">Gerer les Emprunt</a>
        </div>
    </div>
</nav>
<div class="flex justify-center items-center h-screen bg-teal-500">
    <div class="bg-white px-4 py-2 rounded-md">
        <h1 class="text-3xl text-center font-bold mb-8">Emprunt List</h1>
        <a href="/emprunt/new" class="bg-teal-500 text-white px-4 py-2 rounded-md hover:bg-teal-600">Create New Emprunt</a>
        <br/><br/>
        <table class="border border-gray-300 rounded-md">
            <thead>
            <tr class="bg-gray-200">
                <th class="border px-4 py-2 text-left">CIN</th>
                <th class="border px-4 py-2 text-left">ISBN</th>
                <th class="border px-4 py-2 text-left">NO exp</th>
                <th class="border px-4 py-2 text-left">Date Emp</th>
                <th class="border px-4 py-2 text-left">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${listEmprunts}" class="bg-white">
                <td class="border px-4 py-2" th:text="${l.adherant.cin}">cin</td>
                <td class="border px-4 py-2" th:text="${l.exemplaire.livre.isbn}">isbn</td>
                <td class="border px-4 py-2" th:text="${l.exemplaire.idexp}">idexp</td>
                <td class="border px-4 py-2" th:text="${l.id.dateemp}">dateEmp</td>
                <td class="border px-4 py-2">
                    <a th:href="@{'/emprunt/delete/' + ${l.id.toString()}}" class="text-red-600 hover:text-red-800">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
