<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Livre Manager</title>
</head>
<body>
<div align="center">
  <h1>Livre List</h1>
  <a href="/livre/new">Create New Livre</a>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ISBN</th> <th>Titre</th> <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l : ${listLivres}">
      <td th:text="${l.isbn}">ISBN</td>
      <td th:text="${l.titre}">Titre</td>
      <td>
        <a th:href="@{'/livre/edit/' + ${l.isbn}}">Edit</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/livre/delete/' + ${l.isbn}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
