<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Emprunt</title>
</head>
<body>
<div align="center">
    <h1>Create New Emprunt</h1>
    <br />
    <form action="#" th:action="@{/emprunt/save}" th:object="${emprunt}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>CIN:</td>
                <td>
                    <select th:field="*{id.cin}">
                        <option th:each="a : ${listAdherants}" th:value="${a.cin}" th:text="${a.cin}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>idExp:</td>
                <td>
                    <select th:field="*{id.idexmp}">
                        <option th:each="l : ${listExemplaires}" th:value="${l.idexp}" th:text="${l.idexp}+' : '+${l.getLivre().getIsbn()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>
